<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="(default)"
       connectionString="Data Source=(local); Initial Catalog=Benday.SampleApp.Database; Integrated Security=True; Application Name=Benday Sample App;"
       providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
